:root {
  --primary-color: #0b0f1d;
  --secondary-color: #42ffe0;
  --tertiary-color: #171e31;
  --quaternary-color: #121621;
  --quinary-color: #fff;
  --senary-color: #65a3fb;
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  height: 100vh;
}
.wrapper .nav {
  width: 100%;
  /* padding: 0 10px; */
  box-sizing: border-box;
}
input:focus {
  outline: none;
}
.wrapper .nav .nav--nav {
  font-family: helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  margin: auto;
  padding: 20px 0;
  box-sizing: border-box;
}
.wrapper .nav .nav--nav header {
  margin: 20px 0;
}
.wrapper .nav .nav--nav form {
  display: flex;
}
.search-form {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  position: relative;
  border: 1px solid rgb(199, 199, 199);
}
.search-form i {
  position: absolute;
  color: rgb(199, 199, 199);
  z-index: 1;
  padding: 12px 18px;
  font-size: 18px;
  right: 0;
  border-radius: 0 10px 10px 0;
}
.wrapper .nav .nav--nav form input {
  width: 100%;
  height: 20px;
  padding: 12px 20px 12px 10px;
  border: none;
  align-self: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.9);
  margin: auto;
  border-radius: 10px;
}
.wrapper .nav .nav--nav form input::placeholder {
  color: rgb(199, 199, 199);
}
.wrapper .nav .nav--nav header {
  text-align: center;
}
.wrapper .nav .nav--nav header .nav__logo {
  width: 130px;
  margin: auto;
}
/* .wrapper .nav .nav--nav ul {
  list-style: none;
  box-sizing: border-box;
  background: var(--tertiary-color);
  color: #ffffff;
  border-radius: 20px;
  align-self: center;
}
.wrapper .nav .nav--nav ul li {
  display: flex;
  margin: 0 5px;
}
.wrapper .nav .nav--nav ul a {
  text-decoration: none;
  color: inherit;
  font-size: 22px;
  align-self: center;
  padding: 7px;
} */
.wrapper .main {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  height: 100vh;
}
.wrapper .main .main__container {
  display: flex;
}
.wrapper .main .left {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--quinary-color);
  padding: 20px;
  box-sizing: border-box;
}
.card__img-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.card__img-container h2 {
  color: var(--tertiary-color);
  font-size: 30px;
}
.wrapper .main .right {
  width: 100%;
  height: 100%;
}
.wrapper .main .right iframe {
  height: 100%;
  width: 100%;
  border: none;
}
.wrapper .main .right .list__item {
  padding-right: 5px;
  overflow-y: scroll;
}
.card__date {
  transition: 0.3s;
  box-sizing: border-box;
}
/* Card clima start */
.card__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 570px;
  position: relative;
  background: rgb(250, 250, 250);
  border-radius: 10px;
}
.card__card--data{
  margin-top: 45px;
}
.card__text-container{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.card__card--items{
  background: rgb(241, 241, 241);
  /* border: 1px solid blue; */
  padding: 10px 5px;
  width: 100%;
  /* height: 50px; */
  border-radius: 5px;
}
.card__card--items img{
  width:40px;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}

.card__card--items h3{
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
}
.card__card--items p{
  font-size: 14px;
  text-align: center;
  /* font-weight: bold; */
}
.card__card .card__logo {
  position: inherit;
  width: 150px;
}
.card__card iframe {
  margin-bottom: 15px;
}
.card__card .card__text-container h2 {
  color: var(--tertiary-color);
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.5s;
}

/* FOOTER */
.footer {
  background: red;
  bottom: 20px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}
.footer .footer-box {
  width: 100%;
  margin: auto;
  text-align: center;
  color: var(--tertiary-color);
}
.footer .footer-box p a {
  text-decoration: none;
  color: var(--tertiary-color);
  font-weight: bold;
}
@media (max-width: 479px) {
  .wrapper .nav .nav--nav {
    display: block;
    height: auto;
  }
  .wrapper .nav .nav--nav form {
    margin-top: 15px;
  }
  .wrapper .nav .nav--nav ul {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
  }
  .wrapper {
    height: 100vh;
  }
  .wrapper .main {
    display: block;
  }
  .wrapper .main .left {
    height: auto;
  }
  .wrapper .main .right {
    height: 100%;
  }
  .wrapper footer .footer-box {
    font-size: 14px;
  }
  .main .main__container .card__date .card__card {
    border-radius: 20px 20px 0 0;
    height: 200px;
  }
  .nav .nav--nav header .nav__logo {
    width: 120px;
  }
  .left {
    width: 100% !important;
  }
}
